<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/side_bar.css}">
</head>
<body>
  <div th:fragment="side_bar">
    <div class="side_bar-header">
      <div class="side_bar-header-username">
        <a th:href="@{/users/{userId}/edit(userId=${currentUser.id})}" th:text="${currentUser.name}"></a>
      </div>
      <div class="side_bar-header-create_chat_btn">
        <a th:href="@{/rooms/new}">チャットを作成する</a>
      </div>
    </div>
    <div class="side_bar-main">
      <div th:each="room : ${rooms}", class="side_bar-main-chat_room">
        <a th:href="@{/rooms/{roomId}/messages(roomId=${room.id})}" th:text="${room.name}"></a>
      </div>
    </div>
  </div>
</body>
</html>